<div class="sidebar-module">
    <ol class="list-unstyled social-links">
		<%= link_to root_path do %>
		    <%= fa_icon "home 2x" %>
		<% end %>
		<%= link_to about_path do %>
		    <%= fa_icon "user 2x" %>
		<% end %>
		<%= link_to portfolios_path do %>
		    <%= fa_icon "briefcase 2x" %>
		<% end %>
		<%= link_to contact_path do %>
		    <%= fa_icon "address-card 2x" %>
		<% end %>
    </ol>
</div>